<!DOCTYPE html>
<html ng-app="skeightApp" class="ng-scope" ng-controller="productsController" ng-cloak>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Admin Skeight - Modificar Producto</title>

    <meta name="description" content="Skeight - The Definitive WebShop And Spot Finder">
    <meta name="author" content="mgustran@github.com">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/skeight_logo2.png" sizes="32x32" type="image/png">
    <script src="../js/angular.min.js"></script>
    <script src="../js/lodash.js"></script>


</head>

<body id="home">
<div id="main-nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand active" href="../home.html">
                <img id="navlogo" src="../img/Skeight.jpg" alt="" width="122" height="45">
            </a>

        </div>
        <div class="collapse navbar-collapse">
            <ul id="navigation" class="nav navbar-nav navbar-right text-center">
                <li><a href="productsAdmin.html" class="active-page-navbar">Productos</a></li>
                <li><a href="spotsAdmin.html">Spots</a></li>
                <li><a href="messagesAdmin.html" >Mensajes</a></li>
                <li><a href="orderAdmin.html">Pedidos</a></li>

            </ul>
        </div>

    </div>
</div>


<div id="hero" class="" data-height="600" style="height: 581px;">
    <img class="" src="../img/cartWall.jpg" alt="wall">
</div>



<section id="product-detail-mod" class="gray-bg padding-top-bottom ng-scope" >
    <div class="container">
        <header class="section-header text-center">
            <h2>Producto</h2>
        </header>

        <div class="container padding-top-bottom-light">

            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    <label class="control-label">Modelo</label>
                    <input id="model" name="model" placeholder="Modelo" class="form-control" type="email" value="{{productItem.model}}" equired>
                </div>
                <div class="form-group">
                    <label class="control-label">Marca</label>
                    <input id="marca" name="marca" placeholder="Marca"  class="form-control" type="email" value="{{productItem.marca}}" required>
                </div>
                <div class="form-group">
                    <label class="control-label">Categoria</label>
                    <input id="category" name="category" placeholder="Categoria"  class="form-control" maxlength="" type="email" value="{{productItem.category}}" required>
                </div>
                <div class="form-group">
                    <label class="control-label">Precio</label>
                    <input id="price" name="price" placeholder="Precio" class="form-control" type="number" value="{{productItem.price}}"  required>
                </div>
            </div>


            <div class="col-sm-6 col-md-6">

                <div class="form-group">
                    <label class="control-label">Descripción</label>
                    <input id="description" name="description" placeholder="Descripcion" class="form-control" type="email" value="{{productItem.description}}" required>
                </div>
                <div class="form-group">
                    <label class="control-label">Descuento (0-100)</label>
                    <input id="discount" name="discount"  class="form-control" type="number" min="0" max="100" value="{{productItem.discount}}" required>
                </div>
                <div class="form-group">
                    <label class="control-label">Talla</label>
                    <input id="talla" name="size" placeholder="Talla" class="form-control" type="email" value="{{productItem.talla}}" required>
                </div>
                <div class="form-group">
                    <label class="control-label">Imagen (URL)</label>
                    <input id="image" name="image" placeholder="URL..." class="form-control" type="email" value="{{productItem.img}}" required>
                </div>


            </div>
        </div>

        <p>
            <button name="submit" type="submit" class="btn btn-store btn-block" ng-if="adding === true" style="background-color: darkgreen">Añadir producto</button>
            <button ng-click="UpdateData(productItem.articleId)" name="submit" type="submit" class="btn btn-store btn-block" ng-if="adding === false">Modificar Producto</button>
        </p>
        <input type="hidden" name="submitted" id="submitted" value="true">

    </div>
</section>

<footer id="main-footer" class="dark-bg light-typo">
    <div class="container">
        <p class="pull-left copyright">© Skeight 2017. <br> Designed by <a href="https://github.com/mgustran" target="_blank">Miquel Gustran</a>.<br>
        </p>

        <div class="pull-right paymentMethodImg copyright">
            <a class="btn btn-store outline" href="https://github.com/mgustran/front-pfc">Terminos y condiciones</a>
        </div>
    </div>
</footer>


<script type="text/javascript" src="../js/jquery-latest.pack.js"></script>
<script type="text/javascript" src="../js/lodash.js"></script>


<script type="text/javascript" src="../js/adminPages/productMod.js">



</script>

</body></html>