<!DOCTYPE html>
<html ng-app="skeightApp" class="ng-scope" ng-controller="productsController" ng-cloak>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Skeight - Shop</title>

    <meta name="description" content="Skeight - The Definitive WebShop And Spot Finder">
    <meta name="author" content="mgustran@github.com">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/skeight_logo2.png" sizes="32x32" type="image/png">
    <script src="../js/angular.min.js"></script>

</head>

<body id="home" onload="location.href='#tablas'">
<div id="main-nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand active" href="../home.html">
                <img id="navlogo" src="../img/Skeight.jpg" alt="microstore" width="122" height="45">
            </a>

        </div>
        <div class="collapse navbar-collapse">
            <ul id="navigation" class="nav navbar-nav navbar-right text-center">
                <li><a href="tablas.html" class="">Tablas</a></li>
                <li><a href="ejes.html">Ejes</a></li>
                <li><a href="ruedas.html">Ruedas</a></li>
                <li><a href="rodamientos.html">Rodamientos</a></li>
                <li><a href="accesorios.html">Accesorios</a></li>
                <li><a href="tcompletas.html">Tablas Completas</a></li>
                <li>
                    <a type="button" class="cart-btn btn btn-default icon-cart dropdown-toggle" href="shopcart.html" style="font-size: 20px">{{"  "}} {{cartNum}}</a>
                </li>
                <li>
                    <div id="wrap">
                        <form action="search.html" autocomplete="off">
                            <input type="submit">
                        </form>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>

<div id="hero" class="" data-height="600" style="height: 581px;">
    <img class="" src="../img/shopWall2.jpg" alt="wall">
</div>



<section id="tablas" class="padding-top-bottom-first ng-scope gray-bg" >
    <div class="container">
        <header class="section-header text-center">
            <h2>Tablas</h2>
        </header>
    </div>
    <div class="container">
        <div id="tablas-container" class="row">
            <article class="product col-xs-12 col-sm-6 col-md-3 " ng-repeat="productItem in productsObj | filter:'tablas'| limitTo:4 | orderBy:'price'">
                <div class="img-box">
                    <div class="hover-mask2"></div>
                    <a class="product-icon icon-eye" href="productdetail.html?{{productItem.articleId}}" ></a>
                    <img class="img-responsive project-image" src="{{productItem.img}}" alt="">
                </div>
                <div class="product-info col-md-12">
                    <p class="project-price">{{productItem.price | number : 2}} € </p>
                    <div>
                        <h4 class="project-title ng-binding">{{productItem.model}}</h4>
                        <h4 class="project-title ng-binding"><a href="search.html?search={{productItem.marca}}#">   by <strong>  {{productItem.marca}}</strong></a></h4>

                    </div>
                </div>
            </article>

            <div class="container">
                <div class="col-md-12 text-center">
                    <a class="btn btn-store button-shop" href="tablas.html">Ver Tablas</a>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="ejes" class="padding-top-bottom-light ng-scope" >
    <div class="container">
        <header class="section-header text-center">
            <h2>Ejes</h2>
        </header>
    </div>
    <div class="container">
        <div id="ejes-container" class="row">
            <article class="product col-xs-12 col-sm-6 col-md-3 " ng-repeat="productItem in productsObj | filter:'ejes'| limitTo:4 | orderBy:'price'">
                <div class="img-box">
                    <div class="hover-mask2"></div>
                    <a class="product-icon icon-eye" href="productdetail.html?{{productItem.articleId}}" ></a>
                    <img class="img-responsive project-image" src="{{productItem.img}}" alt="">
                </div>
                <div class="product-info col-md-12">
                    <p class="project-price">{{productItem.price | number : 2}} € </p>
                    <div>
                        <h4 class="project-title ng-binding">{{productItem.model}}</h4>
                        <h4 class="project-title ng-binding"><a href="search.html?search={{productItem.marca}}#">   by <strong>  {{productItem.marca}}</strong></a></h4>

                    </div>
                </div>
            </article>

            <div class="container">
                <div class="col-md-12 text-center">
                    <a class="btn btn-store button-shop" href="ejes.html">Ver Ejes</a>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="ruedas" class="padding-top-bottom-light ng-scope gray-bg" >
    <div class="container">
        <header class="section-header text-center">
            <h2>Ruedas</h2>
        </header>
    </div>
    <div class="container">
        <div id="ruedas-container" class="row">
            <article class="product col-xs-12 col-sm-6 col-md-3 " ng-repeat="productItem in productsObj | filter:'ruedas'| limitTo:4 | orderBy:'price'">
                <div class="img-box">
                    <div class="hover-mask2"></div>
                    <a class="product-icon icon-eye" href="productdetail.html?{{productItem.articleId}}" ></a>
                    <img class="img-responsive project-image" src="{{productItem.img}}" alt="">
                </div>
                <div class="product-info col-md-12">
                    <p class="project-price">{{productItem.price | number : 2}} € </p>
                    <div>
                        <h4 class="project-title ng-binding">{{productItem.model}}</h4>
                        <h4 class="project-title ng-binding"><a href="search.html?search={{productItem.marca}}#">   by <strong>  {{productItem.marca}}</strong></a></h4>

                    </div>
                </div>
            </article>

            <div class="container">
                <div class="col-md-12 text-center">
                    <a class="btn btn-store button-shop" href="ruedas.html">Ver Ruedas</a>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="rodamientos" class="padding-top-bottom-light ng-scope" >
    <div class="container">
        <header class="section-header text-center">
            <h2>Rodamientos</h2>
        </header>
    </div>
    <div class="container">
        <div id="rodamientos-container" class="row">
            <article class="product col-xs-12 col-sm-6 col-md-3 " ng-repeat="productItem in productsObj | filter:'rodamientos'| limitTo:4 | orderBy:'price'">
                <div class="img-box">
                    <div class="hover-mask2"></div>
                    <a class="product-icon icon-eye" href="productdetail.html?{{productItem.articleId}}" ></a>
                    <img class="img-responsive project-image" src="{{productItem.img}}" alt="">
                </div>
                <div class="product-info col-md-12">
                    <p class="project-price">{{productItem.price | number : 2}} € </p>
                    <div>
                        <h4 class="project-title ng-binding">{{productItem.model}}</h4>
                        <h4 class="project-title ng-binding"><a href="search.html?search={{productItem.marca}}#">   by <strong>  {{productItem.marca}}</strong></a></h4>

                    </div>
                </div>
            </article>

            <div class="container">
                <div class="col-md-12 text-center">
                    <a class="btn btn-store button-shop" href="rodamientos.html">Ver Rodamientos</a>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="accesorios" class="padding-top-bottom-light ng-scope gray-bg" >
    <div class="container">
        <header class="section-header text-center">
            <h2>Accesorios</h2>
        </header>
    </div>
    <div class="container">
        <div id="accesorios-container" class="row">
            <article class="product col-xs-12 col-sm-6 col-md-3 " ng-repeat="productItem in productsObj | filter:'accesorios'| limitTo:4 | orderBy:'price'">
                <div class="img-box">
                    <div class="hover-mask2"></div>
                    <a class="product-icon icon-eye" href="productdetail.html?{{productItem.articleId}}" ></a>
                    <img class="img-responsive project-image" src="{{productItem.img}}" alt="">
                </div>
                <div class="product-info col-md-12">
                    <p class="project-price">{{productItem.price | number : 2}} € </p>
                    <div>
                        <h4 class="project-title ng-binding">{{productItem.model}}</h4>
                        <h4 class="project-title ng-binding"><a href="search.html?search={{productItem.marca}}#">   by <strong>  {{productItem.marca}}</strong></a></h4>

                    </div>
                </div>
            </article>

            <div class="container">
                <div class="col-md-12 text-center">
                    <a class="btn btn-store button-shop" href="accesorios.html">Ver Accesorios</a>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="tcompletas" class="padding-top-bottom-light ng-scope" >
    <div class="container">
        <header class="section-header text-center">
            <h2>Tablas Completas</h2>
        </header>
    </div>
    <div class="container">
        <div id="tcompletas-container" class="row">
            <article class="product col-xs-12 col-sm-6 col-md-3 " ng-repeat="productItem in productsObj | filter:'tablasCompletas'| limitTo:4 | orderBy:'price'">
                <div class="img-box">
                    <div class="hover-mask2"></div>
                    <a class="product-icon icon-eye" href="productdetail.html?{{productItem.articleId}}" ></a>
                    <img class="img-responsive project-image" src="{{productItem.img}}" alt="">
                </div>
                <div class="product-info col-md-12">
                    <p class="project-price">{{productItem.price | number : 2}} € </p>
                    <div>
                        <h4 class="project-title ng-binding">{{productItem.model}}</h4>
                        <h4 class="project-title ng-binding"><a href="search.html?search={{productItem.marca}}#">   by <strong>  {{productItem.marca}}</strong></a></h4>

                    </div>
                </div>
            </article>
            <div class="container">
                <div class="col-md-12 text-center">
                    <a class="btn btn-store button-shop" href="tcompletas.html">Ver Tablas Completas</a>
                </div>
            </div>

        </div>
    </div>
</section>

<footer id="main-footer" class="dark-bg light-typo">
    <div class="container">
        <p class="pull-left copyright">© Skeight 2017. <br> Designed by <a href="https://github.com/mgustran" target="_blank">Miquel Gustran</a>.<br>
        </p>

        <div class="pull-right paymentMethodImg copyright">
            <a class="btn btn-store outline" href="https://github.com/mgustran/front-pfc">Terminos y condiciones</a>
        </div>
    </div>
</footer>

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.pack.js"></script>
<script type="text/javascript" src="../js/script.js"></script>

<script>
    var app = angular.module('skeightApp', []);
    app.controller('productsController', function($scope, $http) {
//        var productsObj;
        $http.get("http://localhost:8080/data/articles")
            .then(function(response) {
                $scope.productsObj = angular.fromJson(response.data);
                $scope.q = "";
            });

        $http.get("http://localhost:8080/cart/articles")
            .then(function(response) {
                $scope.product = response.data;
                $scope.cartProducts = angular.fromJson(response.data);
                $scope.cartNum = $scope.cartProducts.length;
            });
    });

    $(function(){
        $('html, body').animate({
            scrollTop: $('#tablas').offset().top
        }, 1000);
        return false;
    });

</script>





</body></html>