<!DOCTYPE html>
<html ng-app="skeightApp" class="ng-scope" ng-controller="productsController" ng-cloak>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Skeight - Carrito</title>

    <meta name="description" content="Skeight - The Definitive WebShop And Spot Finder">
    <meta name="author" content="mgustran@github.com">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/skeight_logo2.png" sizes="32x32" type="image/png">
    <script src="../js/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>


</head>

<body id="home">
<div id="main-nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand active" href="../home.html">
                <img id="navlogo" src="../img/Skeight.jpg" alt="" width="122" height="45">
            </a>

        </div>
        <div class="collapse navbar-collapse">
            <ul id="navigation" class="nav navbar-nav navbar-right text-center">
                <li><a href="../shopPages/shop.html" class="">Tienda</a></li>
                <li><a href="../spotPages/spots.html">Mapa</a></li>
                <li><a href="../shopPages/contact.html">Contacto</a></li>

                <li>
                    <a type="button" class="cart-btn btn btn-default icon-cart dropdown-toggle" style="font-size: 20px">{{"  "}} {{cartNum}}</a>
                </li>
                <li>
                    <div id="wrap">
                        <form action="search.html" autocomplete="off">
                            <input id="search" name="search" type="text" placeholder="Que Estas Buscando ?" required>
                            <input id="search_submit" class="icon-cart2" value="Rechercher" type="submit">
                        </form>
                    </div>
                </li>

            </ul>
        </div>

    </div>
</div>


<div id="hero" class="" data-height="600" style="height: 581px;">
    <img class="" src="../img/cartWall.jpg" alt="wall">
</div>



<section id="cart" class="gray-bg padding-top-bottom ng-scope" >
    <div class="container">
        <header class="section-header text-center">
            <h2>Carrito</h2>
        </header>
        <form  novalidate="" id="order-form" class="ng-pristine ng-valid">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="col-md-4">Producto</th>
                            <th class="col-md-2">Tipo</th>
                            <th class="col-md-2">Precio</th>
                            <th class="text-center col-md-1">
                                <span class="hidden-xs">Quantity</span>
                                <span class="visible-xs">QNT</span>
                            </th>
                            <th class="text-center col-md-1">Eliminar</th>
                            <th class="text-right col-md-2">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="productItem in productsObj">
                            <td class="vert-align"><a ng-click="GetProduct(productItem.model)">
                                                      <!--href="productdetail.html?{{$scope.idDataParam}}"-->
                            {{productItem.model}}</a>    by  {{productItem.marca}}</td>
                            <td class="vert-align">{{productItem.category}}</td>
                            <td class="vert-align ng-binding">{{productItem.price | number : 2}} €</td>
                            <td class=" text-center"><a href="shopcart.html" ng-click="UpdateData(productItem.articleId, -1)">-</a>  {{productItem.quantity}}  <a href="shopcart.html" ng-click="UpdateData(productItem.articleId, 1)">+</a></td>
                            <td class=" ng-binding text-center"><a href="shopcart.html" id="deleteBtn" ng-click="DeleteData(productItem.articleId)">X</a></td>
                            <td class="text-right vert-align ng-binding">{{productItem.price * productItem.quantity | number : 2}} €</td>
                        </tr>
                        <br>
                        </tbody>
                    </table>
                </div>


                <div class="container padding-top-bottom-medium">
                    <div class="col-sm-6 col-md-6 contact-info">
                        <p class="text-center"><strong>Metodo de Pago</strong></p>

                        <div class="container col-md-12">
                            <div >
                                <div >
                                    <label>
                                        <form class="form-control" >
                                            <input  type="radio" data-ng-model="paymethod" data-ng-value="true">Tarjeta de Credito</input>
                                            <input  type="radio" data-ng-model="paymethod" data-ng-value="false">PayPal</input>
                                        </form>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div ng-if="paymethod">
                            <div class="row">
                                <div class="col-sm-8 col-md-8">
                                    <div class="form-group">
                                        <label class="control-label">Name</label>
                                        <input id="ccard" name="numeroTarjeta" placeholder="Numero de Tarjeta" class="form-control input-lg" type="text">
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Code</label>
                                        <input id="cvc" name="cvc" placeholder="CVC" class="form-control input-lg" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Mes</label>
                                        <div class=" controls">
                                            <select class="form-control" id="monthCard">
                                                <option value="January">Enero</option>
                                                <option value="February">Febrero</option>
                                                <option value="March">Marzo</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Año</label>
                                        <div class=" controls">
                                            <select class="form-control" id="yearCard">
                                                <option value="2014">2014</option>
                                                <option value="2015">2015</option>
                                                <option value="2016">2016</option>
                                                <option value="2017">2017</option>
                                                <option value="2018">2018</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-if="paymethod == false">
                            <div>
                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                    <input type="hidden" name="cmd" value="_s-xclick">
                                    <input type="hidden" name="hosted_button_id" value="BDLH89KGBKWFE">
                                    <input type="image" src="http://www.anerbarrena.com/wp-content/uploads/2015/07/PayPal.png" border="0" name="submit" alt="PayPal, la forma rápida y segura de pagar en Internet.">
                                    <img alt="" border="0" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1" height="1">
                                </form>

                            </div>
                        </div>


                        <p class="text-center"><strong>Información</strong></p>
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input id="name" name="name" placeholder="Nombre" class="form-control input-lg" type="text">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input id="secondName" name="lastName" placeholder="Segundo Nombre" class="form-control input-lg" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <input id="email" name="email" placeholder="Tu email" class="form-control input-lg" type="email">
                        </div>

                    </div>

                    <div class="col-sm-6 col-md-6">
                        <p class="text-center"><strong>Dirección de Envio</strong></p>
                        <div class="form-group">
                            <label class="control-label">Calle</label>
                            <input id="address" name="street" placeholder="Calle" class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Localidad</label>
                            <input id="location" name="city" placeholder="Ciudad/Población" class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Pais</label>
                            <input id="country" name="country" placeholder="Pais" class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label class="control-label">postcode</label>
                            <input id="postalCode" name="postcode" placeholder="Codigo Postal" class="form-control" type="text">
                        </div>

                        <table class="table">
                            <thead>
                            <tr>
                                <th colspan="3" class="text-center">Resumen del Pedido</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Coste de Envio:</td>
                                <td></td>
                                <td id="totalTax" class="total text-right">{{totalTax | number: 2}} €</td>
                            </tr>
                            <tr>
                                <td>Total:</td>
                                <td></td>
                                <td id="totalPrice" class="total text-right">{{totalPrice + totalTax | number: 2}} €</td>
                            </tr>
                            </tbody>
                        </table>
                        <p>
                            <a ng-click="SendOrder()"  name="submit" type="submit" class="btn btn-store btn-block">Realizar Pedido</a>
                        </p>
                        <input type="hidden" name="submitted" id="submitted" value="true">
                    </div>
                </div>


            </div>
        </form>

    </div>
</section>

<footer id="main-footer" class="dark-bg light-typo">
    <div class="container">
        <p class="pull-left copyright">© Skeight 2017. <br> Designed by <a href="https://github.com/mgustran" target="_blank">Miquel Gustran</a>.<br>
        </p>

        <div class="pull-right paymentMethodImg copyright">
            <a class="btn btn-store outline" href="https://github.com/mgustran/front-pfc">Terminos y condiciones</a>
        </div>
    </div>
</footer>


<script type="text/javascript" src="../js/jquery-latest.pack.js"></script>
<script type="text/javascript" src="../js/lodash.js"></script>


<script type="text/javascript">

    var app = angular.module('skeightApp', []);
    app.controller('productsController', function($scope, $http, $location, $sce) {

        $scope.totalPrice = 0;
        $scope.totalTax = 0;
        $scope.shipTax = 5;
        $scope.quantitiesStr = "";

        $http.get("http://localhost:8080/cart/articles")
            .then(function(response) {
                $scope.productsObj = angular.fromJson(response.data);
                $scope.q = "";
                $scope.cartNum = $scope.productsObj.length;

                _.forEach($scope.productsObj, function (item) {
                    var quantityString = $scope.quantitiesStr;
                    $scope.totalPrice += (item.quantity * item.price);
                    $scope.totalTax += ($scope.shipTax * item.quantity);
                    var quantityString2 = (item.model + ' by ' + item.marca + ' - ' + item.quantity + ', ');
                    $scope.quantitiesStr = quantityString.concat(quantityString2);
                })
            });

        $scope.GetProduct = function (model) {

            $http.get("http://localhost:8080/data/articles")
                .then(function(response) {
                    $scope.dataProducts = angular.fromJson(response.data);
                    $scope.matchingProducts = _.filter($scope.dataProducts, ['model', model]);
                    $scope.idDataParam = $scope.matchingProducts[0].articleId;
                    location.href = "productdetail.html?" + $scope.idDataParam;
                });



        };


        $scope.DeleteData = function (idparam) {

            $scope.idparam = idparam;

            $http.delete('http://localhost:8080/cart/article/' + $scope.idparam)
                .success(function (data, status, headers) {
                    $scope.ServerResponse = data;
                    location.reload();
                })
                .error(function (data, status, header, config) {
                    $scope.ServerResponse = htmlDecode("Data: " + data +
                        "\n\n\n\nstatus: " + status +
                        "\n\n\n\nheaders: " + header +
                        "\n\n\n\nconfig: " + config);
                });
        };

        $scope.UpdateData = function (idParam, type) {
            var config = {
                headers : {
                    'Content-Type': 'application/json'
                }
            };

            $http.get("http://localhost:8080/cart/article/" + idParam)
                .then(function(response) {
                    $scope.product = angular.fromJson(response.data);
                    $scope.product.quantity = $scope.product.quantity + (type);

                    if ($scope.product.quantity !== 0 ) {
                        $http.put('http://localhost:8080/cart/article', $scope.product, config)
                            .success(function (data, status, headers) {
                                $scope.ServerResponse = data;
                            })
                            .error(function (data, status, header, config) {
                                $scope.deliberatelyTrustDangerousSnippet = function() {
                                    return $sce.trustAsHtml("Data: " + data +
                                        "\n\n\n\nstatus: " + status +
                                        "\n\n\n\nheaders: " + header +
                                        "\n\n\n\nconfig: " + config);
                                };
                                $scope.ServerResponse =  $scope.deliberatelyTrustDangerousSnippet();
                            });
                        location.reload();


                    } else {
                        $http.delete('http://localhost:8080/cart/article/' + idParam)
                            .success(function (data, status, headers) {
                                $scope.ServerResponse = data;
                                location.reload();
                            })
                            .error(function (data, status, header, config) {
                                $scope.ServerResponse = htmlDecode("Data: " + data +
                                    "\n\n\n\nstatus: " + status +
                                    "\n\n\n\nheaders: " + header +
                                    "\n\n\n\nconfig: " + config);
                            });
                    }

                });
        };

        $scope.SendOrder = function () {

            var config = {
                headers : {
                    'Content-Type': 'application/json'
                }
            };

            var name = document.getElementById('name').value;
            var secondName = document.getElementById('secondName').value;
            var email = document.getElementById('email').value;
            var ccard = 987654321654;
            var cvc = 797;
            var monthCard = 08;
            var yearCard = 1996;
            var address = document.getElementById('address').value;
            var location = document.getElementById('location').value;
            var country = document.getElementById('country').value;
            var postalCode = document.getElementById('postalCode').value;
//            var quantities = document.getElementById('quantities').value;
//            var totalPrice = document.getElementById('totalPrice').value;
//            var totalTax = document.getElementById('totalTax').value;

            $scope.productDataObj = {
                "name": name,
                "secondName": secondName,
                "email": email,
                "ccard": ccard,
                "cvc": cvc,
                "monthCard": monthCard,
                "yearCard": yearCard,
                "address": address,
                "location": location,
                "country": country,
                "postalCode": postalCode,
                "quantities": $scope.quantitiesStr,
                "totalPrice": $scope.totalPrice,
                "totalTax": $scope.totalTax
            };

            $http.post('http://localhost:8080/orders/order', $scope.productDataObj, config)
                .success(function (data, status, headers, config) {
                    $scope.PostDataResponse = data;
                    location.href = location.href + '?ok=true';
                })
                .error(function (data, status, header, config) {
                    $scope.ResponseDetails = "Data: " + data +
                        "<hr />status: " + status +
                        "<hr />headers: " + header +
                        "<hr />config: " + config;
                    location.href = location.href + '?ok=false';

                });
        }

    });

    $(function(){
        $('html, body').animate({
            scrollTop: $('#cart').offset().top
        }, 1000);
        return false;
    });

    $( "#deleteBtn" ).click(function() {
        location.reload();

    });
</script>

</body></html>